/* Header */
body {
  display: block;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background: grey;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #ddd7d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
}

.preloader h3 {
  top: 55%;
  position: absolute;
}

.loading {
  height: 75px;
}

.preloader-finish {
  opacity: 0;
  pointer-events: none;
}

/* Header */
.head2 {
  display: block;
  padding: 80px;
  text-align: center;
  color: white;
  overflow: hidden;
  background: chocolate;
}

.head2 h1 {
  margin-top: 0px;
  font-size: 10vw;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.head2 em {
  color: #0eedf5;
  font-weight: 600;
  font-style: normal;
}

.head2 span {
  display: inline-block;
  margin-top: -20px;
  font-weight: 300;
  font-size: 48px;
  color: #fff;
}

/* End */
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

.slider {
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}

.slider::before, .slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .activator {
  padding: 1em;
  border-radius: 100%;
  cursor: pointer;
}

header .activator:hover {
  background: #1e2129;
}

img {
  width: 100%;
  max-width: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  place-content: center;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background: rgba(41, 46, 56, 0);
  border-radius: 0 1em 1em 0;
  padding: .5em;
  -webkit-clip-path: ellipse(50% 50% at -50% 50%);
          clip-path: ellipse(50% 50% at -50% 50%);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li a {
  display: block;
  padding: .5em;
  margin: 0 .5em;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
}

nav ul li a img {
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  .nav-links {
    max-width: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */